.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 295px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 100vh;
  background: #BDBDBD;
}

@keyframes taskButtonToLeft {
  from {
    bottom: 72px;
    right: 24px;
  }
  to {
    bottom: 31px;
    right: 214px;
  }
}

taskButtonToLeft {
  animation-name: taskButtonToLeft;
  animation-duration: 1s;
}